@media screen and (max-width:1000px) {

    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 10px 10px;
    }

   nav ul{
        justify-content: center;
    }

    .search{
        justify-content: center;
        margin: 10px;
    }

    .slider{
        height: 23vh;
    }

    .card-item img{
        width: 140px;
    }

    .search input{

    }
    
}